
@{
    ViewData["Title"] = "StatisticsView";
}

    <div class="statistics">
        <a class="statisticsTile" asp-controller="Statistics" asp-action="MostWanted">Най-вървежни</a>
        <a class="statisticsTile" asp-controller="Statistics" asp-action="FullStatistics">Детайлна справка</a>
    </div>

